#wrapper {
	margin:auto;
	width:1000px;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

#login {
	border: 1px solid #AEAEAE;
	margin: 100px auto 0;
	padding: 0;
	width: 300px;
}

#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	color: rgb(193,69,69);
	margin-right: 20px;
}

#adminmenu #logout li a{
	float: right;
}

#adminmenu li a{
	color: rgb(193,69,69);
	font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}

.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

p,li {
	color: #555555;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #EF1F2F;
	text-decoration: none;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

table {width:100%; text-align:left; border:1px solid #DDDDDD; font-size:12px; color:#000;background:#fff; margin-bottom:10px; border-collapse: collapse;}
table th {background-color:rgb(193,69,69); border:1px solid #BBBBBB; padding:3px 6px; font-weight:700; color:white; font-size:1.1em;}
table tr td {border:1px solid #DDDDDD; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
table tr:hover {background-color:#F0F0F0; color:#000;}

button{
	float:left;
	margin: 10px;
}
