/* CSS-reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
    background-color: #87CEFA;
    background-image: url("../images/design/backround.jpg");
    background-repeat:repeat-y;
    background-size:contain;
    font-family: 'Roboto', sans-serif;}

.clearfix { clear: both; }

#container {  
    width: 60%;
    min-width: 1000px;
    background-color: white;
    margin: 30px auto;
    height: auto;
    border: 0.5px solid black;}
    
#up {  
    background-image: url(../images/design/arrow.jpg);   
    display: inline-block;
    position: fixed;
    vertical-align: middle;
    right: 30px;
    bottom: 1px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

#up.scrolled{
    opacity:1;
    bottom: 40px;
}

/* TOP-NAVIGATION */

#top-menu {
    background-color: rgb(54,53,53);
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    word-spacing: 20px;
    color: white;
}

#top-menu ul {
    display: inline-block;
    float: left;
    text-align: right;
}

#top-menu li {
    display: inline-block;
    font-weight: bold;
}

#top-menu ul li a {
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
}

#top-menu ul li a:hover { color: rgb(153,153,153);}

#search {
    float: right;
    position: relative;
    right: -20px;
}

#search input {
    color: #FFFFFF;
    font-size: 15px;
}

#search input[type="submit"]{
	background-color: #272727;
	background-image: url('../images/design/search-icon.png');
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 30px 30px;
 
    margin: 0;
    border: none;
    cursor: pointer;
    text-indent: -9000px;
    float: right;

}

#search input[type="search"] {
	background: #272727;
	padding: 0px 0px 0px 15px;
	margin-left:100px;
    width: 250px;
    text-align: left;
    
}

/* /HEADER */
header { padding: 20px 30px 30px 30px;}
#logo { display: inline-block; float: left;}
#logo h1, h2 { display: inline; font-weight: 700;}

#logo a {
    text-decoration: none;
    color: inherit;
}

#logo h1 {
    font-size: 5em;
    font-family: 'Passion One', cursive;
    padding-right: 20px;
    color: rgb(54,53,53);
}

#logo h2 {
    float: right;
    font-size: 1.0em;
    font-weight: 400;
    padding: 15px 0 21px 20px;
    margin-top: 14px;
    color: rgb(153,153,153);
    border-left: 1px dashed rgb(193,193,193);
}

#social-media {
    float: right;
    display: inline-block;
    padding-top: 20px;
    overflow: hidden;
  
    position:relative;
}

#social-media img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

#main-menu {
    height: 50px;
    line-height: 50px;
    background-color: rgb(193,69,69);
    margin-top: 20px;
    border-radius: 2px;
}

#main-menu li {
    display: inline-block;
    position: relative;
}

#main-menu li:hover {
    background-color: black;
}
#main-menu li a {
    display: block;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

#main-menu li:hover .subitems {
    display: block;
}

.subitems {
	z-index: 3;
    display: none;
    background-color: black;
    position: absolute;
    width: 100%;
}

.subitems li {
    width: 100%;
}

.subitems li a:hover {
    background-color: rgb(193,69,69); !important;
}





 
/* MAIN CONTENT */

section {
    margin-left: 30px;
    float: left;
    width: 61%;
}

.by-article {
	font-size: 0.7em;
	color: gray;
    font-weight: 700;
	}

#slider {
    
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.slides {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    
    
}

.slides p{
	text-align:justify;
	line-height: 140%;
	font-size: 0.95em;
	color: grey;
}

.slides h2{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
    padding: 8px 0 8px 0;
}

.slides li {
    position: relative;
    display: block;
    float: left;
    width: 732px;
     margin-bottom: 30px;
}

#slider img {
    width: 732px;
    height: 302px;
    padding-bottom: 5px;
    border-radius: 5px;
}


/* ASIDE */
aside {
    width: 27%;
    height: auto;
    position: relative;
    padding-left: 20px;
    margin: 0 40px 0 0;
    float: right;
    border-left: 1px dashed rgb(193,193,193);  
}

.aside-block {
    border-bottom: 1px dashed rgb(193,193,193);
    margin-left: 10px;
    padding-bottom: 20px;
}

.aside-block:last-child {
    border-bottom: 0px dashed rgb(193,193,193);
}

.aside-block:not(:first-child){
    padding-top: 20px;
}

.aside-block h2 {
    display: inline-block;
    color: rgb(193,69,69);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2em;
    padding-bottom: 25px;
}

.aside-block a {
    text-decoration: none;
    color: inherit;
}

.popular-post { height: 80px; color: gray; }

.popular-post img {
    float: left;
    padding-right: 10px;
    width: 70px;
    height: 70px;
}

.popular-post h3 {
    text-transform:  uppercase;
    font-weight: 700;
    padding-top: 5px;
}

.popular-post a {text-decoration: none;}

.by {
	font-size: 0.7em;
	color: gray;
    font-weight: 700;
	}

.popular-post a:hover {
    text-decoration: none;
    color: rgb(193,69,69);
}

.post-info {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
    color: rgb(193,69,69);
}



.aside-tweet{
    margin-bottom: 25px;
    color: gray;
}

.aside-tweet .tweet-author, #twitter-follow-us{
    color: rgb(193,69,69);
}

.aside-tweet .tweet-time {
    text-transform: uppercase;
    font-size: 0.7em;
}

#double-adv img {
height: 115px;
width: 115px;
    margin-right: 12px;
}

#tag-list{
    list-style-type: none;
}

#tag-list li{
    float: left;
    margin: 0 8px 8px 0;
}

#tag-list li a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(68,68,68);
    padding: 10px 11px;
    
    color: white;
}

.month-archive {
	list-style-type: none;
    text-transform: uppercase;
}

.month-archive li{
	margin-bottom: 10px;
	font-weight: 900;
   	font-size: 1em;
   	color: rgb(193,69,69);
}
.month-archive li a { color: black;}
.month-archive li a :hover{ color: rgb(193,69,69);}	



/* FOOTER */

footer {
    padding: 20px 0px 0px 20px;
    height: 230px;
    background-color: rgb(54,53,53); 
    
}

.footer-block {
    display: inline-block;
    float: left;
    width: 30%;
    
}

.footer-block h2 {
    display: block;
    letter-spacing: 2px;
    margin-bottom: 25px;
    font-weight: 900;
    color: white;   
    font-size: 1.1em;
    text-transform: uppercase;
}

.footer-block:not(:first-child){
    margin-left: 3%;
}

.footer-block:first-child{
    margin-left: 1%;
}

.footer-block:last-child{
    margin-right: 1.5%;
}

.footer-block p {
    color: white;
    text-align: justify;
    font-weight: 200;
    padding-bottom: 10px;
}


.footer-featured-block {
    margin-bottom: 40px;
    width: 90%; 
}

.footer-featured-block img {
    float: left;
    padding-right: 15px;
    border-radius: 5px;
    height: 70px;
    width: 70px;
}

.footer-featured-block a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.footer-featured-block a:hover {
    color: rgb(145,145,145);
}


.footer-featured-block span {
    text-transform: uppercase;
    font-size: 0.7em;
    color: rgb(145,145,145);
}

#footer-menu {
    height: 40px;
    line-height: 40px;
    background-color: rgb(42,42,42);
    font-size: 0.9em;
    padding: 0 25px;
    word-spacing: 20px;
}

#footer-menu li {
    display: inline-block;
    
}



#footer-menu li a {
    padding: 0 5px 0 5px;
    display: block;
    color: rgb(145,145,145);
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

#footer-menu li a:hover{
    font-weight: bold;
    color:white;
}

#login{
    float: right;
    color:black;
}

#login input[type="submit"] {
    text-transform: uppercase;
    padding: 0px 5px 0px 5px;
    color: white;
    background: gray;

}

/* ARCHIVESS */

.archives h2 {
   border-bottom: 1px dashed gray;
    display: block;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    padding-bottom: 20px;
    
}
.archive-block {
    margin-top: 20px;
    margin-bottom: 10px;
}
.archive-block h3 {
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 900;
    color:rgb(193,69,69);
    
}

.archive-post {
    border-bottom: 1px dashed gray;
    padding-bottom: 10px;
    padding-top: 20px;
    color: gray;
    font-size: 0.8em;
}

.archive-post span {
    color:rgb(193,69,69);
    font-weight: 700;
    text-transform: uppercase;
}

.archive-post a {text-decoration: none; color:rgb(193,69,69);}

.archive-post h4 a{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    color: black;
}

/* POST */

.post-post {
    margin-bottom: 40px;
}
.post-post h2 {
    display: block;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 10px;
    
}

.post-post img {
    width: 100%;
    height: 270px;
    margin-bottom: 15px;
}

.post-post p {
    font-weight: 200;
    font-size: 1em;
    color: gray;
    
    line-height: 140%;
    text-align:justify;
    
    margin-bottom: 25px;
}




